<h1>Editing video</h1>

<!-- turbo drive appears to be cacheing the preview image-->
<div data-turbo="false">
  <%= render "form", video: @video %>
</div>

<br>

<div>
  <%= link_to "Show this video", @video %> |
  <%= link_to "Back to videos", videos_path %>
</div>
